pypiwin32
pygame
pycryptodomex
pysoundfile
numpy
pyfmodex
git+https://github.com/NicklasMCHD/PyAL.git
git+https://github.com/Accessiware/platform_utils.git
git+https://github.com/Accessiware/libloader.git
git+https://github.com/Accessiware/sound_lib.git
git+https://github.com/Accessiware/accessible_output2.git

